@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

/* Z Index */
$sidebar-z-index: 1;

/* Colors */
$transparent: transparent;
$primary-color: #873C7E;
$secondary-color: #3C4B9A;
$success-color: #40884F;
$danger-color: #C4404B;
$warning-color: #B69329;
$info-color: #3995A5;
$light-color: #E4E4E4;
$dark-color: #8D8D8D;

/* Box Shadow */
$box-shadow-small: #171515;
$box-shadow-medium: #0c0c0c;
$box-shadow-large: #0e0e0e;

/* Text Color */
$text-color-1: #757475;
$text-color-2: #747474;
$text-color-3: #555555;

/* Background Color */
$fg-color: #232222;
$bg-color: #1A191A;

body, html {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
    background-color: $bg-color;
    color: $text-color-1;
    .navbar {
        color: $text-color-1;
        box-shadow: 0 1px 15px 0 $box-shadow-medium;
        background-color: $fg-color;
        .navbar-brand {
            padding-left: 8px;
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $text-color-3;
                    &.active {
                        color: $text-color-2;
                    }
                }
            }
        }
    }
    .container-fluid {
        margin-top: 60px;
        min-height: calc(100vh - 60px);
        .row {
            &.common-header-container {
                margin-top: 5rem;
            }
            .col {
                .common-header {
                    div {
                        display: inline-block;
                        padding: 4px;
                        border: 1px solid $bg-color;
                        line-height: 32px;
                        &:first-child {
                            color: $text-color-1;
                            .selected {
                                border: 1px solid $secondary-color;
                            }
                        }
                        &:last-child {
                            float: right;
                            color: $text-color-1;
                            &.pagination-container {
                                cursor: pointer;
                                .pagination {
                                    .page-item {
                                        &.disabled {
                                            cursor: not-allowed;
                                            opacity: 0.5;
                                        }
                                        .page-link {
                                            background-color: $fg-color !important;
                                            color: $secondary-color;
                                            border: 2px solid $fg-color;
                                            &:hover {
                                                border: 2px solid $primary-color;
                                            }
                                        }
                                        &.active {
                                            .page-link {
                                                border-top: 2px solid $success-color;
                                            }
                                        }
                                        &:last-child {
                                            .page-link {
                                                color: $success-color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &::before, &::after {
                        content: "";
                        display: block;
                        clear: both;
                    }
                }
                .table-container {
                    padding: 5px;
                    .table {
                        box-shadow: 0 1px 15px 0 $box-shadow-large;
                        thead {
                            tr {
                                th {
                                    background-color: $fg-color;
                                    position: sticky;
                                    top: 58px;
                                    cursor: pointer;
                                    transition: all linear 0.5s;
                                    border-top: 2px solid $primary-color;
                                    border-bottom: 2px solid $primary-color;
                                    color: $text-color-2;
                                    word-break: break-all;
                                    padding: 12px 5px;
                                    &:hover {
                                        transition: all linear 0.5s;
                                        color: $primary-color;
                                    }
                                    &:first-child {
                                        padding-left: 16px;
                                    }
                                    &:last-child {
                                        padding-right: 16px;
                                    }
                                }
                                &:hover {
                                    th {
                                        transition: all linear 0.5s;
                                        border-top: 2px solid $primary-color;
                                        border-bottom: 2px solid $primary-color;
                                    }
                                }
                            }
                        }
                        tbody {
                            tr {
                                border-left: 2px solid $transparent;
                                border-right: 2px solid $transparent;
                                border-bottom: 2px solid darken($text-color-3, 20%);
                                border-top: 2px solid $transparent;
                                td {
                                    color: $text-color-3;
                                    word-break: break-all;
                                    padding: 8px;
                                    &:first-child {
                                        padding-left: 16px;
                                    }
                                    &:last-child {
                                        padding-right: 16px;
                                    }
                                }
                                &.active {
                                    border-left: 3px solid $secondary-color;
                                    border-right: 3px solid $secondary-color;
                                    border-bottom: 3px solid $secondary-color;
                                    border-top: 3px solid $secondary-color;
                                    td {
                                        border-top: 3px solid $secondary-color;
                                        color: $text-color-1;
                                    }
                                    &:hover {
                                        border-left: 3px solid $primary-color;
                                        border-right: 3px solid $primary-color;
                                        border-bottom: 3px solid $primary-color;
                                        border-top: 3px solid $primary-color;
                                        td {
                                            border-top: 3px solid $primary-color;
                                            color: $text-color-1;
                                        }
                                    }
                                }
                                &:hover {
                                    border-left: 2px solid $primary-color;
                                    border-right: 2px solid $primary-color;
                                    border-bottom: 2px solid $primary-color;
                                    border-top: 2px solid $primary-color;
                                    td {
                                        border-top: 2px solid $primary-color;
                                        color: $text-color-1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        box-shadow: 0 1px 15px 0 $box-shadow-medium;
    }
}